.banner {
    background: blue;
    box-shadow: 0 10px 30px rgb(0 0 0 / 8%);
    padding: 20px;
    color: white;
}


.banner picture {
    display: block;
    width: 100%;
    height: 200px;
    min-height: 280px;
    object-fit: cover;
}

.banner picture img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}



.banner a {
   color:white;
   text-decoration: underline;
}

@media (width <=767px) {}